[scrollDefault] {
  &::-webkit-scrollbar-thumb {
    height: 80px;
  }

  scrollbar-width: thin;
  scrollbar-color: #bbbbbb transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

[disabled] {
  pointer-events: none;
  cursor: default;
  opacity: 0.5;
  background-color: gray;
}
